.container {
  width: 100%;
  padding: 75px;
  background-color: var(--color-background-about);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  width: auto;
  text-align: center;
  color: var(--color-primary);
}

.info {
  margin-top: 5%;
  width: 100%;
  text-align: justify;
}

.image img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .info {
    width: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .info {
    width: 70%;
  }
}
