.collection {
  margin: 0 10%;
  margin-top: 100px;
  margin-bottom: 150px;
}

.collectionList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collectionItem {
  width: 300px;
  height: 262px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 20px;
}

@media (max-width: 768px) {
  .collectionList{
    flex-direction: column;
  }

  .collectionItem {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
}