.hero {
  height: 60vh;
  width: 100%;
  background-color: rgba(117, 91, 94, 0.43);
  position: relative;
  background-image: url(../../assets/images/Hero.webp);
  background-size: cover; /* Ajusta el tamaño para cubrir completamente el elemento */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  padding: 0 10%;
}

.heroMain {
  position: absolute;
  top: 30%;
  width: 80%;
}
.heroContent {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroContentText {
  width: 40%;
}



.heroContentText p{
  color: white;
}
.heroContentImage img {
  width: 350px;
}

.faqArticleColumn {
  display: flex;
}

.faqArticleColumn div {
  width: 50%;
}

.faqArticleColumn div p {
  width: 80%;
}
.faqArticleColumn div iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .hero {
    height: 100vh;
    padding: 0 5%;
  }
  
  .heroMain {
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
  }
  
  .heroContent {
    flex-direction: column;
    text-align: center;
  }
  
  .heroContentText {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .heroContentImage img {
    width: 250px;
  }
  
  .faqArticleColumn {
    flex-wrap: wrap;
  }
  
  .faqArticleColumn div {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .faqArticleColumn div p {
    width: 100%;
  }
}