.caracteristics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
  margin-top: 90px;
}
.caracteristics div {
  display: flex;
}
.caracteristics div p {
  margin-left: 30px;
  width: 320px;
  color: #513d40;
}
.caracteristics div img {
  width: 56px;
}


@media (max-width: 768px) {
  .caracteristics{
    flex-direction: column;
  
  }
  .caracteristics div {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
   
    
  }
  .caracteristics div p{
text-align: center;
  }
}