.productsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featuredProducts {
  margin-bottom: 150px;
  padding: 0 10%;
}
.productsList article img {
  width: 300px;
}

@media (max-width: 768px) {
  .productsList{
    flex-direction: column;
  }
}